/* ============= base =========== */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
::before,
::after {
  box-sizing: bordor-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}

/* ============== css class && ids =========== */
div#controlar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(45deg, red, blue);
}
div#controlar * {
  margin-left: 1rem;
}
button#start {
  padding: 1rem;
}
button#stop {
  padding: 1rem;
}
input#speed {
  padding: 1rem;
}

div#bouncElement {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(52, 76, 72), rgb(203, 160, 190));
  position: absolute;
}
